* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar{
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 75px;
  color: #F9FAF8;
}

.header-logo{
  float: left;
  font-size: 24px;
  color: #F9FAF8;
}

.menu {
  display: inline-flex;
  gap: 1.5em;
  font-size: 18px;
  line-height: 100px;
  font-size: 18px;
}

a{
  color: white;
}

.main-section{
  background-color: #1F2937;
  color: #E5E7EB;
  padding-left: 200px;
  padding-right: 200px;
  padding: 80px;
  align-items: center;
}

.button1{
  color: #F9FAF8;
  background-color: #3882F6;
  border-radius: 5px;
  padding: 5px;
  border-color: #3882F6;
  border-style: solid;
  border-width: 0.1px;
}

.column {
  float: left;
  width: 30%;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-column{
  text-align: center;
}

.image-column img{
  width: 375px;
  height: 250px;
}

.main-section-heading{
  font-size: 24px;
  font-weight: bolder;
  color: #F9FAF8;
}

.image-section{
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  align-items: center;
  padding: 100px;
}

.image-section h2{
  text-align: center;
}

.image-nav-bar{
  display: inline-flex;
}

.book1{
  border-style: solid;
  border-color: #3882F6;
  border-radius: 15px;
  border-width: 0.1cm;
  width: 111px;
  height: 167px;
}

.book2{
  border-style: solid;
  border-color: #3882F6;
  border-radius: 15px;
  border-width: 0.1cm;
  width: 111px;
  height: 167px;
}

.book3{
  border-style: solid;
  border-color: #3882F6;
  border-radius: 15px;
  border-width: 0.1cm;
  width: 111px;
  height: 167px;
}

.book4{
  border-style: solid;
  border-color: #3882F6;
  border-radius: 15px;
  border-width: 0.1cm;
  width: 111px;
  height: 167px;
}

.image-section p{
  font-size: 14px;
  align-content: center;
}

.quote-section{

    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.quote-section p{

  padding-left: 125px;
  padding-right: 125px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.action-section{
  background-color: #3882F6;
  margin: 50px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-radius: 15px;
}

.button2{
  color: #F9FAF8;
  background-color: #3882F6;
  border-radius: 5px;
  padding: 5px;
  border-color: white;
  border-style: solid;
  border-width: 0.3px;
}

.button-column{
  text-align: center;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px;
}